/* task-card.component.css */
.task-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  background-color: #fff;
}

.task-id {
  font-weight: bold;
  color: #333;
}

.task-title {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

.task-description {
  margin-top: 10px;
  color: #555;
}

.task-status {
  margin-top: 10px;
  padding:  10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.status-complete {
  background-color: #4CAF50;
}

.status-incomplete {
  background-color: #ffde22;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.edit-button, .delete-button {
  margin: 0 10px;
  color: #fff;
}

.edit-button {
  background-color: #fd9f53;
}

.delete-button {
  background-color: #f44336;
}

.edit-button:hover,
.delete-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.edit-button:hover {
  background-color: white;
  outline: 1px solid #fd9f53;
  color: #fd9f53;
}

.delete-button:hover {
  background-color: white;
  outline: 1px solid #f44336;
  color: #f44336;
}
