<ng-container *ngIf="call$ | async"></ng-container>

<div class="container">
  <span class="title">{{ editMode ? 'Edit Task '+ this.taskToBeEdited.title : 'Create Task' }}</span>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">Title is required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="taskForm.get('description')?.hasError('required')">Description is required</mat-error>
    </mat-form-field>
  
   @if (editMode) {
     <mat-form-field appearance="outline">
       <mat-label>Status</mat-label>
       <mat-select formControlName="status">
         <mat-option [value]="taskStatus.COMPLETED">{{taskStatus.COMPLETED}}</mat-option>
         <mat-option [value]="taskStatus.INCOMPLETE">{{taskStatus.INCOMPLETE}}</mat-option>
       </mat-select>
       <mat-error *ngIf="taskForm.get('status')?.hasError('required')">Status is required</mat-error>
     </mat-form-field>
   }
  
    <button mat-raised-button color="primary" type="submit"> {{ editMode ?  'Update Task' : 'Add Task'}} </button>
  </form>


</div>

